.official-artwork-detailed {
    width: 240px;
    height: 240px;
}

.pokemon-type-icon {
    width: 70px;
    height: 70px;
    padding: 5px;
    margin-bottom: 85px;
}

.card {
    width: 250px;
}

.detailed {
    width: 100%;
    /* min-width: 600px; */
}

.type-container {
    min-width: 500px;
    display: flex;
    flex-flow: row wrap;
}

.info-container{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.icon-container{
    width: min(25%, 150px);
}

.types{
    min-width: 170px;
}