#navigation-main{
    background-color: beige;
    width: 100%;
    height: auto;
}

.flex{
    display: flex;
    flex-flow: row wrap;
}
.toright{
    margin-left: auto;
}

.nav-par{
    padding: 1em 1.5em;
    margin: 0;
}
.nav-par:hover{
    background-color: orange;
}