.guess {
    width: 300px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background-color: #c2c2c2;
    padding: auto auto;
}

.wtpmon {
    width: min(200px, 70%);
    height: auto;
}

.pokemon-image {
    filter: brightness(0);
}